body{
	 background:#202020;
	 font:bold 12px Arial, Helvetica, sans-serif;
	 margin:0;
	 padding:0;
	 min-width:960px;
	 color:#bbbbbb; 
}
.clock {
	width:800px; 
	margin:0 auto; 
	padding:30px; 
	border:1px solid #333; 
	color:#fff; 
}
#Date {
	font-family: Calibri, sans-serif; 
	font-size:36px; 
	text-align:center; 
	text-shadow:0 0 5px #00c6ff; 
}
ul {
	width:800px; 
	margin:0 auto; 
	padding:0px; 
	list-style:none; 
	text-align:center; 
}
ul li {
	display:inline; 
	font-size:8em; 
	text-align:center; 
	font-family: Calibri, sans-serif; 
	text-shadow:0 0 5px #00c6ff; 
}